<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
        <title>{% block title %}Pki Project{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" >
		<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet" >
		<link href="{{ asset('css/main.css') }}" rel="stylesheet" >
		<link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<style>
			html, body { height:100%; }
			body {
				margin: 0;
				/* background: url({{ asset('img/login_background.jpg') }})no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover; */
			}
			@media ( min-width: 768px) {
				#wrapper { width: 80%; margin: 2em auto; }
				#icon-book { display: inline-block; }
				#status a, #next a { display: block; }
	
				@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
				@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
				.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
			}
		</style>
	</head>
	<body>
        {% block body %}{% endblock %}
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/datepicker.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
