{% extends 'base.html.twig' %}

{% block body %}
{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}   

        <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid" style="width:100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-key"></i> PKI Project</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('list') }}" >List your certificates</a></li>
                    <li><a href="{{ path('generate') }}" >Generate a new certificate</a></li>
                    <li><a href="{{ path('validate') }}" >Validate certificate</a></li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
 				<li>
 					<a href="#" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 						<i class="fa fa-user fa-lg"></i>
 					</a>
     				<ul class="dropdown-menu dropdown-menu-right">
      					<li class="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i>&nbsp;Sign out</a></li>
      					<li class="setting"><a href="{{ path('profile') }}"><i class="fa fa-gear"></i>&nbsp;Profile</a></li>
     					<li class="changepass"><a href="{{ path('changepass') }}"><i class="fa fa-key"></i>&nbsp;Change Password</a></li>
     				</ul>
   				</li>
 			</ul>
            </div>

        </div>

    </nav>
    {% endif %}
    <div class="container" style="margin:100px">
    	{% for flash_message in app.session.flashbag.get('notice') %}
	    <div class="alert alert-warning">{{ flash_message }}</div>
		{% endfor %}
    	{% block content %}{% endblock %}
{% endblock %}
