{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
<style>
	div.login-box {
		margin: 5% auto 10% auto;
		background: rgba(223, 235, 239, 0.57) none repeat scroll 0% 0%;
		min-height: 220px;
		width: 380px;
		border: 1px solid #AAA;
		border-radius: 25px;
		padding: 20px;
	}
</style>
{% endblock %}

<div class="login-box" style="width:400px;">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal', 'style':'margin-top:15px;'}}) }}


    {{ form_errors(form) }}
   <div class="form-group{% if form.name.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">	
            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label '}}) }}
        </div>
        <div class="col-sm-6">
        <div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>        	
            {% if form.name.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.name.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.surname.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">	
            {{ form_label(form.surname, null, {'label_attr': {'class': 'control-label '}}) }}
        </div>
        <div class="col-sm-6">
        <div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
        </div>        	
            {% if form.surname.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.surname.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">
    	{{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
    	</div>
        <div class="col-sm-6 ">
        <div class="input-group">
  				<span class="input-group-addon" id="basic-addon1">@</span>
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}            
        </div>
        	{% if form.email.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.email.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.username.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">	
            {{ form_label(form.username, null, {'label_attr': {'class': 'control-label '}}) }}
        </div>
        <div class="col-sm-6">
        <div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        </div>        	
            {% if form.username.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.username.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">
            {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'control-label'}}) }}
        </div>    
        <div class="col-sm-6 ">
        <div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}            
        </div>
        	{% if form.plainPassword.first.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.plainPassword.first.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.plainPassword.second.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">
            {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'control-label'}}) }}
        </div>
        <div class="col-sm-6">
        <div class="input-group">
  			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}           
        </div>
        	 {% if form.plainPassword.second.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.plainPassword.second.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.companyName.vars.errors[0].message is defined %} has-error{% endif %}">
        <div class="col-sm-5 text-right">
    	{{ form_label(form.companyName, null, {'label_attr': {'class': 'control-label'}}) }}
    	</div>
        <div class="col-sm-6 ">
        <div class="input-group">
  				<span class="input-group-addon" id="basic-addon1">@</span>
            {{ form_widget(form.companyName, {'attr': {'class': 'form-control'}}) }}            
        </div>
        	{% if form.companyName.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.companyName.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
	    <div class="col-ms-10 text-center">
	    	<button class="btn btn-xs btn-primary" type="submit">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
	    </div>
    </div>
{{ form_end(form) }}
</div>