html,body {
    min-height: 100%;
    height:100%;
    width:100%;
    min-width:100%;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size:17px;
}
.login-form {
    margin-top:5%;
}
.clearfix {
    border-top:1px solid inset #999;
}