{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% block stylesheets %}
<style>
	div.login-box {
		margin: 10% auto 10% auto;
		background: rgba(223, 235, 239, 0.57) none repeat scroll 0% 0%;
		min-height: 220px;
		width: 380px;
		border: 1px solid #AAA;
		border-radius:25px;
	}
</style>
{% endblock %}

<div class="login-box">
<center><h2 style="font-family: Georgia">LOGIN</h2></center>
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal text-center">
	{% if error %}
	    <div class="form-group" style="margin-top:10px;">
		    <div class="col-sm-8 col-sm-offset-2">
		    	<p class="bg-danger"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong><p>
		    </div>
	    </div>
	{% endif %}
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="form-group" style="margin-top:10px;">
		<div class="col-sm-8 col-sm-offset-2">
      		<div class="input-group">
  				<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
  				<input type="text" class="form-control" id="username" name="_username" placeholder="Enter username" required/>
			</div>
    	</div>
  	</div>
	<div class="form-group">
	    <div class="col-sm-8 col-sm-offset-2">
		    <div class="input-group">
	    		<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key"></i></span>
		      	<input type="password" class="form-control" id="password" name="_password" placeholder="Enter password" required/>
		   </div>
	    </div>
	</div>
	<div class="form-group">
		<div class="col-sm-5 col-sm-offset-2" style="horizontal-align:center">
			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		</div>
		<div class="col-sm-3 text-center">
			<input class="btn btn-ms btn-danger" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
		</div>		
	</div>
	<!--  <div class="form-group">
		<div class="col-sm-5 col-sm-offset-3" style="horizontal-align:center">
			<a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
		</div>		
	</div> -->
<input type="hidden" name="_target_path" value="/home" />
	<div class="form-group">
		<a href="{{ path('fos_user_registration_register') }}">Register new account</a>
	</div>
	
	<div class="form-group text-center">
		<div class="col-sm-8 col-sm-offset-2">
			<a href="{{ path('validate') }}" class="btn btn-ms btn-primary validate-btn">Validate Certificate</a>
		</div>
	</div>
</form>

</div>

{% endblock fos_user_content %}
