{% extends 'base.html.twig' %}

{% block body %}
        <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container" style="width:100%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PKI Project</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="" target="_blank">Nazwa???</a></li>
                    <li><a href="" >Nazwa???</a></li>
                    <li><a href="" >Nazwa???</a></li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
 				<li>
 				<a href="#" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" style="font-size: 35px;"></span></a>
     				<ul class="dropdown-menu dropdown-menu-right">
      					<li class="logout"><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i>SIGN OUT</a></li>
     				</ul>
   				</li>
 			</ul>
            </div>

        </div>

    </nav>
    <div class="container" style="margin:100px;width:95%">
    	{% for flash_message in app.session.flashbag.get('notice') %}
    	<div class="flash-notice">
        <h4><strong>{{ flash_message }}</strong></h4>
    	</div>
    </div>
{% endfor %}
{% endblock %}
