{% extends 'layout.html.twig' %}

{% block content %}
<h2 class="text-center">Change Password</h2>
<form action="" method="post" class="form-horizontal jumbotron" style="padding: 10px">
	<div class="form-group">
		<label class="control-label col-sm-4" for="new_pass">New Password:</label>
		<div class="col-sm-4"> 
			<input type="password" class="form-control" name="new_pass" id="new_pass" pattern=".{6,}"   required title="6 characters minimum">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4" for="plain_pass">Plain Password:</label>
		<div class="col-sm-4"> 
			<input type="password" class="form-control" name="plain_pass" id="plain_pass" required>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}