{% extends 'layout.html.twig' %}

{% block content %}
<h2 class="text-center">Details</h2>
<div class="row">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="waznyod">Creation date:</label>
			<div class="col-md-4 col-sm-6 col-xs-12"> 
				<input type="text" class="form-control" id="waznyod" value="{{ cert.getCreateDate()|date('d.m.Y H:i:s') }}" disabled>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="waznydo">Expiration date:</label>
			<div class="col-md-4 col-sm-6 col-xs-12"> 
				<input type="text" class="form-control" id="waznydo" value="{{ cert.getExpirationDate()|date('d.m.Y H:i:s') }}" disabled>
			</div>
		</div>
	 	<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="wystawionyprzez">Issued by:</label>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<input type="text" class="form-control" id="wystawionyprzez" value="I2-L14 Corpo." disabled=>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="pwd">Issued for:</label>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<input type="text" class="form-control" id="pwd" value="{{ user.getName() }} {{ user.getSurname() }}" disabled>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="stat">Status:</label>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<input type="text" class="form-control" id="stat" value="{% if date(cert.getExpirationDate()) < date() %} Expired {% elseif cert.getRevoked() %} Revoked {% else %} Active {% endif %}" disabled>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="type">Type:</label>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<input type="text" class="form-control" id="type" value="{{ cert.getType() }}" disabled>
			</div>
		</div>
		{% if cert.getRevoked() %}
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="reason">Revoke reason:</label>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<input type="text" class="form-control" id="reason" value="{{ cert.getRevokeReason() }}" disabled>
			</div>
		</div>
		{% endif %}
		<div class="form-group">
			<label class="control-label col-md-4 col-sm-4 col-xs-12" for="serial">Serial number:</label>
			<div class="col-md-4 col-sm-4 col-xs-12"> 
				<input type="text" class="form-control" id="serial" value="{{ cert.getSerialNumber() }}" disabled>
		</div>
	</div>
	</form>
</div>
<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div style="padding: 10px">
			<a href="{{ path('list') }}">
				<button class="btn btn-success" style="width: 100%">Back</button>
			</a>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div style="padding: 10px">
			<form action="{{ path('download') }}" method="post">
				<input type="hidden" name="cert" value="public">
				<input type="hidden" name="id" value="{{ cert.getId() }}">
				<button type="submit" class="btn btn-primary" style="width: 100%" {% if cert.getRevoked() %} disabled {% endif %}>Download certificate</button>
		    </form>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div style="padding: 10px">
				<button class="btn btn-primary" data-toggle="modal" data-target="#downloadModal" id-cert="{{ cert.getId() }}" style="width: 100%" {% if cert.getRevoked() %} disabled {% endif %}>Download private key</button>
		</div>
	</div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div style="padding: 10px">
			<button class="btn btn-warning" data-toggle="modal" data-target="#revokeModal" id-cert="{{ cert.getId() }}" style="width: 100%" {% if cert.getRevoked() %} disabled {% endif %}>Revoke</button>
		</div>
	</div>
</div>

<div id="downloadModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<form class="form-horizontal" role="form" action="{{ path('download') }}" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Enter password</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" value="" id="id_download" name="id">
					<input type="hidden" value="private" id="cert" name="cert">
					<div class="form-group">
						<label class="control-label col-sm-4" for="type">Password:</label>
						<div class="col-sm-6"> 
							<input type="password" class="form-control" id="pass" name="pass">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" onclick="$('#downloadModal').modal('hide');return true;">Download</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="revokeModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<form class="form-horizontal" role="form" action="{{ path('revoke') }}" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Revoke Certificate</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" value="" id="id_revoke" name="id">
					<center><b>Are you sure you want to revoke the certificate?</b></center><br>
					<div class="form-group">
						<label class="control-label col-sm-4" for="reason">Choose reason</label>
						<div class="col-sm-8"> 
							<select class="form-control" id="reason" name="reason">
								<option>Key Compromise</option>
								<option>CA Compromise</option>
								<option>Affiliation Changed</option>
								<option>Superseded</option>
								<option>Cessation of Operation</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger">Revoke</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$('#downloadModal').on('show.bs.modal', function(e) {
		var id = $(e.relatedTarget).attr('id-cert');
		$("#id_download").val(id);
	});
	$('#revokeModal').on('show.bs.modal', function(e) {
		var id = $(e.relatedTarget).attr('id-cert');
		$("#id_revoke").val(id);
	});
});
</script>
{% endblock %}