{% extends 'layout.html.twig' %}

{% block content %}
<h2 class="text-center">Create new certificate</h2>

<form class="form-horizontal jumbotron" role="form" action="{{ path('create') }}" method="post" style="padding: 10px">
	<div class="row">
		<h3 class="text-center">Personal data</h3>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-sm-4" for="name">Name:</label>
				<div class="col-sm-8"> 
					<input type="text" class="form-control" id="name" value="{{ user.getName() }}" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="surname">Surame:</label>
				<div class="col-sm-8"> 
					<input type="text" class="form-control" id="surname" value="{{ user.getSurname() }}" disabled>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-sm-4" for="email">Email:</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="email"  value="{{ user.getEmail() }}" disabled>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="pwd">Name of the organization:</label>
				<div class="col-sm-8"> 
					<input type="date" class="form-control" id="dataofbirth"  value="{{ user.getCompanyName() }}" disabled>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<h3 class="text-center">Certificate data</h3>
		<div class="col-md-6">
			 <div class="form-group">
				<label class="control-label col-sm-4" for="type">Type:</label>
				<div class="col-sm-8"> 
					<select class="form-control" id="type" name="type" disabled>
						<option>EmailProtection</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}

{% block javascripts %}
<script>
	$( document ).ready(function() {
    	$(".passwordField").hide();
	    $("#check1").click(function(){
	    	$("#check1").prop("checked", true);
	    	$("#check2").prop("checked", false);
	    	$(".passwordField").hide();
	    	$("#pass").prop("required", false);
	    });
	    $("#check2").click(function(){
	    	$("#check2").prop("checked", true);
	    	$("#check1").prop("checked", false);
	    	$(".passwordField").show();
	    	$("#pass").prop("required", true);
	    });
	});
</script>
{% endblock %}