{% extends 'layout.html.twig' %}

{%  block content %}
	<h2 class="text-center">Certifications</h2>
	
	<div class="form-group">
		<button type="button" class="btn btn-info push-right" data-toggle="modal" data-target="#searchModal">Search</button>
	</div>
	
	<table class="table table-hover table-responsive" style="background-color: #fff">
		<tr class="text-center">
			<th class="text-center">Created</th>
			<th class="text-center">Expiration</th>
			<th class="text-center">Status</th>
			<th class="text-center">Type</th>
		</tr>
		{% for 	cert in list %}
	    <tr class="text-center" style="cursor: pointer" onclick="window.location='{{ path('details', {'id':cert.getId()}) }}'">
	    	<td>{{ cert.getCreateDate()|date('d.m.Y') }}</td>
	    	<td>{{ cert.getExpirationDate()|date('d.m.Y') }}</td>
	    	<td>{% if date(cert.getExpirationDate()) < date() %} Expired {% elseif cert.getRevoked() %} Revoked {% else %} Active {% endif %}</td>
	    	<td>{{ cert.getType() }}
	    </tr>
		{% else %}
		    <tr><td colspan="8">No certificates have been found.</td></tr>
		{% endfor %}
	</table>
      
      
	<div id="searchModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<form class="form-horizontal" role="form" action="{{ path('list') }}" method="post">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Search Certificates</h4>
					</div>
					<div class="modal-body">
				      	<div class="form-group">
							<label class="control-label col-sm-4" for="searchby">Search by</label>
							<div class="col-sm-8"> 
								<select class="form-control" id="searchby" name="searchby">
									<option>Creation date</option>
									<option>Expiration date</option>
									<option>Type</option>
									<option>Status</option>
								</select>
							</div>
						</div>
				      	<div class="form-group createDateGroup">
							<label class="control-label col-sm-4" for="create_date">Created date</label>
							<div class="input-group col-sm-8" style="padding-left:15px;padding-right:15px;">
								<input type="text" class="form-control datepicker" id="create_date" name="create_date">
							</div>
						</div>
				      	<div class="form-group expirationDateGroup">
							<label class="control-label col-sm-4" for="expiration_date">Expiration date</label>
							<div class="input-group col-sm-8"  style="padding-left:15px;padding-right:15px;">
								<input type="text" class="form-control datepicker" id="expiration_date" name="expiration_date">
							</div>
						</div>
						<div class="form-group typeGroup">
							<label class="control-label col-sm-4" for="type">Type</label>
							<div class="col-sm-8"> 
								<select class="form-control" id="type" name="type">
									<option>CodeSigning</option>
									<option>EmailProtection</option>
									<option>IpsecEndSystem</option>
									<option>IpsecTunnel</option>
									<option>OscpSigning</option>
									<option>ServerAuth</option>
									<option>TimeStamping</option>
								</select>
							</div>
						</div>
						<div class="form-group statusGroup">
							<label class="control-label col-sm-4" for="status">Status</label>
							<div class="col-sm-8"> 
								<select class="form-control" id="type" name="status">
									<option>Active</option>
									<option>Revoked</option>
									<option>Expired</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-default">Search</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$('.datepicker').datepicker({
	    format: 'dd.mm.yyyy'
	});
	function hideSearchInput(){
	    $(".createDateGroup").hide();
	    $(".expirationDateGroup").hide();
	    $(".typeGroup").hide();
	    $(".statusGroup").hide();
	}

	hideSearchInput();
    $(".createDateGroup").show();
	$( "#searchby" ).change(function () {
	    $( "#searchby option:selected" ).each(function() {
	    	hideSearchInput();
	    	switch($( this ).index()){
		    	case 0:
		    	    $(".createDateGroup").show();
		    	    break;
		    	case 1:
		    	    $(".expirationDateGroup").show();
		    	    break;
		    	case 2:
		    	    $(".typeGroup").show();
		    	    break;
		    	case 3:
		    	    $(".statusGroup").show();
		    	    break;
	    	}
	    });
	  });
});
</script>
{% endblock %}