{% extends 'layout.html.twig' %}

{% block content %}
	<div class="col-md-6 col-sm-offset-3">
		<h2 class="text-center">User {{ user.getUsername() }}</h2> 
		<table class="table table-hover table-responsive" style="background-color: #fff">
			<tr class="text-left">
		    	<td>Name:</td><td>{{ user.getName() }}</td>
			</tr>
			<tr class="text-left">
		    	<td>Surname:</td><td>{{ user.getSurname() }}</td>
			</tr>
			<tr class="text-left">
		    	<td>Email:</td><td>{{ user.getEmail() }}</td>
			</tr>
			<tr class="text-left">
		    	<td>Organization:</td><td>{{ user.getCompanyName() }}</td>
		    </tr>
		</table>
	</div>
	
{% endblock %}