{% extends 'layout.html.twig' %}

{% block content %}
	<h2 class="text-center">Validation</h2>
<form enctype="multipart/form-data" action="{{ path('dovalid') }}" method="post" class="form-horizontal jumbotron">
	<div class="form-group">
		<input type="file" name="certyficateFile">
	</div>
	{% if (not is_granted("IS_AUTHENTICATED_REMEMBERED")) %} 
		<a href="{{ path('login') }}" class="btn btn-warning">Back to Login</a>
	{% endif %}
	<button class="btn btn-primary" type="submit">Send</button>
</form>
{% endblock %}